[submodule "boost"]
    path = externals/boost
    url = https://github.com/vvanelslande/vvctre-boost.git
[submodule "nihstro"]
    path = externals/nihstro
    url = https://github.com/neobrain/nihstro.git
[submodule "soundtouch"]
    path = externals/soundtouch
    url = https://github.com/vvanelslande/vvctre-soundtouch.git
[submodule "dynarmic"]
    path = externals/dynarmic
    url = https://github.com/MerryMage/dynarmic.git
[submodule "xbyak"]
    path = externals/xbyak
    url = https://github.com/herumi/xbyak.git
[submodule "cryptopp"]
    path = externals/cryptopp/cryptopp
    url = https://github.com/weidai11/cryptopp.git
[submodule "fmt"]
    path = externals/fmt
    url = https://github.com/fmtlib/fmt.git
[submodule "libressl"]
    path = externals/libressl
    url = https://github.com/vvanelslande/vvctre-libressl.git
[submodule "cubeb"]
    path = externals/cubeb
    url = https://github.com/kinetiknz/cubeb.git
[submodule "teakra"]
    path = externals/teakra
    url = https://github.com/wwylele/teakra.git
[submodule "imgui"]
    path = externals/imgui
    url = https://github.com/ocornut/imgui.git
[submodule "clip"]
    path = externals/clip
    url = https://github.com/dacap/clip.git
[submodule "opengl-loader"]
    path = externals/opengl-loader
    url = https://github.com/vvanelslande/vvctre-opengl-loader.git
[submodule "httplib"]
    path = externals/httplib
    url = https://github.com/yhirose/cpp-httplib.git
[submodule "lurlparser"]
    path = externals/lurlparser
    url = https://github.com/corporateshark/LUrlParser.git
[submodule "system-archives"]
    path = externals/system-archives
    url = https://github.com/vvanelslande/vvctre-system-archives.git
[submodule "portable-file-dialogs"]
    path = externals/portable-file-dialogs
    url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "json"]
    path = externals/json
    url = https://github.com/nlohmann/json.git
[submodule "stb"]
    path = externals/stb
    url = https://github.com/nothings/stb.git
[submodule "enet"]
    path = externals/enet
    url = https://github.com/lsalzman/enet.git
[submodule "asl"]
    path = externals/asl
    url = https://github.com/aslze/asl.git
