# Build directory
build/
ubuntu_build/

# Project/editor files
*.swp
.idea/
.vs/
.vscode/

# *nix related
# Common convention for backup or temporary files
*~

# Visual Studio CMake settings
CMakeSettings.json

# Windows global filetypes
Thumbs.db

# Python files
*.pyc

# Dear ImGui
imgui.ini
