[submodule "boost"]
    path = externals/boost
    url = https://github.com/citra-emu/ext-boost.git
[submodule "nihstro"]
    path = externals/nihstro
    url = https://github.com/neobrain/nihstro.git
[submodule "soundtouch"]
    path = externals/soundtouch
    url = https://github.com/citra-emu/ext-soundtouch.git
[submodule "catch"]
    path = externals/catch
    url = https://github.com/philsquared/Catch.git
[submodule "dynarmic"]
    path = externals/dynarmic
    url = https://github.com/MerryMage/dynarmic.git
[submodule "xbyak"]
    path = externals/xbyak
    url = https://github.com/herumi/xbyak.git
[submodule "cryptopp"]
    path = externals/cryptopp/cryptopp
    url = https://github.com/weidai11/cryptopp.git
[submodule "fmt"]
    path = externals/fmt
    url = https://github.com/fmtlib/fmt.git
[submodule "libressl"]
    path = externals/libressl
    url = https://github.com/citra-emu/ext-libressl-portable.git
[submodule "cubeb"]
    path = externals/cubeb
    url = https://github.com/kinetiknz/cubeb.git
[submodule "teakra"]
    path = externals/teakra
    url = https://github.com/wwylele/teakra.git
[submodule "semver"]
    path = externals/semver
    url = https://github.com/Neargye/semver.git
[submodule "zstd"]
    path = externals/zstd
    url = https://github.com/facebook/zstd.git
[submodule "indicators"]
    path = externals/indicators
    url = https://github.com/p-ranav/indicators.git
[submodule "imgui"]
    path = externals/imgui
    url = https://github.com/ocornut/imgui.git
[submodule "clip"]
    path = externals/clip
    url = https://github.com/dacap/clip.git
